@page "/JsInteropExample"
@rendermode InteractiveServer

@implements IAsyncDisposable
@inject IJSRuntime JS

<PageTitle>JS Interop</PageTitle>

<h2>JS Interop Example</h2>

<button @onclick="ShowPrompt">Call showNamePrompt</button>

@if (!string.IsNullOrEmpty(result))
{
    <p>
        Hello @result!
    </p>
}

@code {
    private IJSObjectReference? module;
    private string? result;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            /*
                Change the {PATH} placeholder in the next line to the path of
                the collocated JS file in the app. Examples:

                ./Components/Pages/JsInteropExample.razor.js (.NET 8 or later)
                ./Pages/JsInteropExample.razor.js (.NET 7 or earlier)
            */

            module = await JS.InvokeAsync<IJSObjectReference>("import",
                "./Components/Pages/JsInteropExample.razor.js");
        }
    }

    public async void ShowPrompt()
    {
        if (module is not null)
        {
            result = await module.InvokeAsync<string>(
                "showNamePrompt", "What's your name?");
            StateHasChanged();
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}